ul {list-style-type: none;} 

a {text-decoration: none;} 

address { 
    font-style: normal; 
} 
 
body { 
    font-family: "Roboto", sans-serif;
    color: #2e2f42; 
    background-color: #fff;
} 
 
.header-logo { 
font-family: "Raleway", sans-serif; 
font-weight: 700; 
font-size: 18px; 
line-height: 1.17; 
letter-spacing: 0.03em; 
text-transform: uppercase; 
color: #4d5ae5; 
} 
 
.header-logo-italic { 
    color: #2e2f42; 
} 
 
.header-menu-link { 
font-weight: 500; 
font-size: 16px; 
line-height: 1.5; 
letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
    color: #404bbf;
}

.address-link { 
font-size: 16px; 
line-height: 1.5; 
letter-spacing: 0.02em; 
color: #434455; 
}

.address-link:hover,
.address-link:active {
    color: #404bbf;
}


.headline { 
background-color: #2e2f42;
}
 
.headline-titel { 
font-weight: 700; 
font-size: 56px; 
line-height: 1.07; 
letter-spacing: 0.02em; 
color: #fff; 
} 
 
.headline-button { 
background: #4d5ae5; 
font-weight: 500; 
font-size: 16px; 
line-height: 1.5; 
letter-spacing: 0.04em; 
color: #fff; 
cursor: pointer;
}

.headline-button:hover, {
    background: #404bbf;
}
 
.methods {
background: #fff; 
} 
 
.methods-caption {
font-weight: 500; 
font-size: 20px; 
line-height: 1.2; 
letter-spacing: 0.02em; 
} 
 
.methods-text { 
font-size: 16px; 
line-height: 1.5; 
letter-spacing: 0.02em; 
color: #434455; 
} 
 
.team { 
background: #f4f4fd; 
} 
 
.team-titel { 
font-weight: 700; 
font-size: 36px; 
line-height: 1.11; 
letter-spacing: 0.02em; 
} 
 
.team-caption { 
font-weight: 500;
font-size: 20px; 
line-height: 1.2; 
letter-spacing: 0.02em;  
} 
 
.team-text { 
font-size: 16px; 
line-height: 1.5; 
letter-spacing: 0.02em; 
color: #434455; 
} 
 
.porfolio { 
background: #fff; 
} 
 
.porfolio-caption { 
font-weight: 500; 
font-size: 20px; 
line-height: 1.2; 
letter-spacing: 0.02em; 
} 
 
.porfolio-text { 
font-size: 16px; 
line-height: 1.5; 
letter-spacing: 0.02em; 
color: #434455; 
} 
 
.footer { 
background: #2e2f42; 
} 
 
.footer-text { 
font-size: 16px; 
line-height: 1.5; 
letter-spacing: 0.02em; 
color: #f4f4fd; 
} 
 
.footer-logo { 
    font-family: "Raleway", sans-serif; 
font-weight: 700; 
font-size: 18px; 
line-height: 1.17; 
letter-spacing: 0.03em; 
text-transform: uppercase; 
color: #4d5ae5; 
} 
 
.footer-logo-italic { 
    color: #f4f4fd; 
} 

 